@charset "utf-8";
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

[class^="nanumSR"], [class*="nanumSR"]{font-family:'NanumSquareRound', sans-serif;}
[class^="nanumSQ"], [class*="nanumSQ"]{font-family:'NanumSquare', sans-serif;}
.nanumSQ300{font-weight:300;} .nanumSQ400{font-weight:400;} .nanumSQ700{font-weight:700;} .nanumSQ800{font-weight:800;}
.mont{font-family:'Montserrat', sans-serif;font-weight:200 !important;}

/*──────────────── Reset ────────────────*/
html{margin:0;padding:0;/*overflow-y:scroll*/}
body{margin:0;padding:0;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img, input, button{margin:0;padding:0;border:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
ul, dl, dt, dd{margin:0;padding:0;list-style:none}
legend{position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img{vertical-align:middle;}
label{cursor:pointer;}
button, input[type="submit"]{cursor:pointer;outline:0;}
textarea, select{font-size:1em}
select{margin:0}
p{margin:0;padding:0;word-break:break-all}
hr{width:100%;height:1px;background-color:rgba(0,0,0,0.12);border:none;}
pre{margin:0;padding:0;font-size:13px;font-family:inherit;display:inline-block;overflow:auto;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul,li{list-style:none;margin:0;padding:0}
img{max-width:100%;}

*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before, *:after{display:inline-block;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.fontAnti{-webkit-font-smoothing:none !important;-webkit-transform:none !important;transform:none !important;}
.fontAnti *{-webkit-font-smoothing:none !important;-webkit-transform:none !important;transform:none !important;}

a{text-decoration:none;outline:0;/*color:#404040;*/color:#3f4148;color:inherit;}
a:link, a:visited {text-decoration:none}
a:hover, a:focus, a:active {text-decoration:none;}

[class^="upImg"] img{height:auto;}

/* common */
b, .bold{font-weight:bold;}
i{font-style:normal;}
.inline-block{display:inline-block;}
.normal{font-weight:normal;}
.clear{clear:both;display:block;}
.none{display:none !important;}
.noborder{border:none !important;}
.tcenter{text-align:center !important;} .tleft{text-align:left !important;} .tright{text-align:right !important;} .fcenter{margin:0 auto;} .fleft{float:left !important;} .fright{float:right !important;}
.flexCenter{width:100%;height:100%;position:absolute;top:0;left:0;display:flex;align-items:center;justify-content:center;flex-direction:column;}
.divCenter{display:flex;align-items:center;justify-content:center;}
.flexBottom{display:flex;align-items:flex-end;}
.fixed{position:fixed;}

.help-block{color:#697c81;display:inline-block;}
p.help-block, div.help-block{line-height:1.5em;display:block;}


/* fontColor */
.color-yellow{color:#fff600;}
.color-red{color:#f24141;}
.color-blue{color:#288ef3;}
.color-black{color:#252525;}
.color-gray{color:#727272;}
.color-green{color:#5dcc8e;}
.color-orange{color:#ff791f;}
.color-pink{color:#ffb7e8;}
.color-pointColor{color:#ff3333;}


/*──────────────── Margin ────────────────*/
.mt5{margin-top:5px !important;} .mt10{margin-top:10px !important;} .mt15{margin-top:15px !important;} .mt20{margin-top:20px !important;} .mt25{margin-top:25px !important;} .mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;} .mt40{margin-top:40px !important;} .mt45{margin-top:45px !important;} .mt50{margin-top:50px !important;} .mt55{margin-top:55px !important;} .mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;} .mt70{margin-top:70px !important;} .mt75{margin-top:75px !important;} .mt80{margin-top:80px !important;}
.mt85{margin-top:85px !important;} .mt90{margin-top:90px !important;} .mt95{margin-top:95px !important;} .mt100{margin-top:100px !important;}
.mr5{margin-right:5px !important;} .mr10{margin-right:10px !important;} .mr15{margin-right:15px !important;} .mr20{margin-right:20px !important;} .mr25{margin-right:25px !important;} .mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;} .mr40{margin-right:40px !important;} .mr45{margin-right:45px !important;} .mr50{margin-right:50px !important;} .mr55{margin-right:55px !important;} .mr60{margin-right:60px !important;}
.mr65{margin-right:65px !important;} .mr70{margin-right:70px !important;} .mr75{margin-right:75px !important;} .mr80{margin-right:80px !important;} .mr85{margin-right:85px !important;}
.mr90{margin-right:90px !important;} .mr95{margin-right:95px !important;} .mr100{margin-right:100px !important;}
.ml5{margin-left:5px !important;} .ml10{margin-left:10px !important;} .ml15{margin-left:15px !important;} .ml20{margin-left:20px !important;} .ml25{margin-left:25px !important;} .ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;} .ml40{margin-left:40px !important;} .ml45{margin-left:45px !important;} .ml50{margin-left:50px !important;} .ml55{margin-left:55px !important;} .ml60{margin-left:60px !important;}
.ml65{margin-left:65px !important;} .ml70{margin-left:70px !important;} .ml75{margin-left:75px !important;} .ml80{margin-left:80px !important;} .ml85{margin-left:85px !important;}
.ml90{margin-left:90px !important;} .ml95{margin-left:95px !important;} .ml100{margin-left:100px !important;}
.mb5{margin-bottom:5px !important;} .mb10{margin-bottom:10px !important;} .mb15{margin-bottom:15px !important;} .mb20{margin-bottom:20px !important;} .mb25{margin-bottom:25px !important;} .mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;} .mb40{margin-bottom:40px !important;} .mb45{margin-bottom:45px !important;} .mb50{margin-bottom:50px !important;} .mb55{margin-bottom:55px !important;} .mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px !important;} .mb70{margin-bottom:70px !important;} .mb75{margin-bottom:75px !important;} .mb80{margin-bottom:80px !important;} .mb85{margin-bottom:85px !important;}
.mb90{margin-bottom:90px !important;} .mb95{margin-bottom:95px !important;} .mb100{margin-bottom:100px !important;}


/*──────────────── span :Width ────────────────*/
[class*="span"], [class^="span"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;position:relative;vertical-align:middle;}
.span{width:100%;}
.span10{width:10px;} .span20{width:20px;} .span30{width:30px;} .span40{width:40px;} .span50{width:50px;} .span60{width:60px;} .span70{width:70px;} .span80{width:80px;} .span90{width:90px;}
.span100{width:100px;} .span110{width:110px;} .span120{width:120px;} .span130{width:130px;} .span140{width:140px;} .span150{width:150px;} .span160{width:160px;} .span170{width:170px;} .span180{width:180px;} .span190{width:190px;}
.span200{width:200px;} .span210{width:210px;} .span220{width:220px;} .span230{width:230px;} .span240{width:240px;} .span250{width:250px;} .span260{width:260px;} .span270{width:270px;} .span280{width:280px;} .span290{width:290px;}
.span300{width:300px;} .span310{width:310px;} .span320{width:320px;} .span330{width:330px;} .span340{width:340px;} .span350{width:350px;} .span360{width:360px;} .span370{width:370px;} .span380{width:380px;} .span390{width:390px;}
.span400{width:400px;} .span410{width:410px;} .span420{width:420px;} .span430{width:430px;} .span440{width:440px;} .span450{width:450px;} .span460{width:460px;} .span470{width:470px;} .span480{width:480px;} .span490{width:490px;}
.span500{width:500px;} .span510{width:510px;} .span520{width:520px;} .span530{width:530px;} .span540{width:540px;} .span550{width:550px;} .span560{width:560px;} .span570{width:570px;} .span580{width:580px;} .span590{width:590px;}
.span600{width:600px;} .span610{width:610px;} .span620{width:620px;} .span630{width:630px;} .span640{width:640px;} .span650{width:650px;} .span660{width:660px;} .span670{width:670px;} .span680{width:680px;} .span690{width:690px;}
.span700{width:700px;} .span710{width:710px;} .span720{width:720px;} .span730{width:730px;} .span740{width:740px;} .span750{width:750px;} .span760{width:760px;} .span770{width:770px;} .span780{width:780px;} .span790{width:790px;}
.span800{width:800px;} .span810{width:810px;} .span820{width:820px;} .span830{width:830px;} .span840{width:840px;} .span850{width:850px;} .span860{width:860px;} .span870{width:870px;} .span880{width:880px;} .span890{width:890px;}
.span900{width:900px;} .span910{width:910px;} .span920{width:920px;} .span930{width:930px;} .span940{width:940px;} .span950{width:950px;} .span960{width:960px;} .span970{width:970px;} .span980{width:980px;} .span990{width:990px;}
.span5{width:5px;} .span15{width:15px;} .span25{width:25px;} .span35{width:35px;} .span45{width:45px;} .span55{width:55px;} .span65{width:65px;} .span75{width:75px;} .span85{width:85px;} .span95{width:95px;}
.span105{width:105px;} .span115{width:115px;} .span125{width:125px;} .span135{width:135px;} .span145{width:145px;} .span155{width:155px;} .span165{width:165px;} .span175{width:175px;} .span185{width:185px;} .span195{width:195px;}
.span205{width:205px;} .span215{width:215px;} .span225{width:225px;} .span235{width:235px;} .span245{width:245px;} .span255{width:255px;} .span265{width:265px;} .span275{width:275px;} .span285{width:285px;} .span295{width:295px;}
.span305{width:305px;} .span315{width:315px;} .span325{width:325px;} .span335{width:335px;} .span345{width:345px;} .span355{width:355px;} .span365{width:365px;} .span375{width:375px;} .span385{width:385px;} .span395{width:395px;}
.span405{width:405px;} .span415{width:415px;} .span425{width:425px;} .span435{width:435px;} .span445{width:445px;} .span455{width:455px;} .span465{width:465px;} .span475{width:475px;} .span485{width:485px;} .span495{width:495px;}
.span505{width:505px;} .span515{width:515px;} .span525{width:525px;} .span535{width:535px;} .span545{width:545px;} .span555{width:555px;} .span565{width:565px;} .span575{width:575px;} .span585{width:585px;} .span595{width:595px;}
.span605{width:605px;} .span615{width:615px;} .span625{width:625px;} .span635{width:635px;} .span645{width:645px;} .span655{width:655px;} .span665{width:665px;} .span675{width:675px;} .span685{width:685px;} .span695{width:695px;}
.span705{width:705px;} .span715{width:715px;} .span725{width:725px;} .span735{width:735px;} .span745{width:745px;} .span755{width:755px;} .span765{width:765px;} .span775{width:775px;} .span785{width:785px;} .span795{width:795px;}
.span805{width:805px;} .span815{width:815px;} .span825{width:825px;} .span835{width:835px;} .span845{width:845px;} .span855{width:855px;} .span865{width:865px;} .span875{width:875px;} .span885{width:885px;} .span895{width:895px;}
.span905{width:905px;} .span915{width:915px;} .span925{width:925px;} .span935{width:935px;} .span945{width:945px;} .span955{width:955px;} .span965{width:965px;} .span975{width:975px;} .span985{width:985px;} .span995{width:995px;}


/*──────────────── min-width ────────────────*/
.min10{min-width:10px;} .min20{min-width:20px;} .min30{min-width:30px;} .min40{min-width:40px;} .min50{min-width:50px;} .min60{min-width:60px;} .min70{min-width:70px;} .min80{min-width:80px;} .min90{min-width:90px;}
.min100{min-width:100px;} .min110{min-width:110px;} .min120{min-width:120px;} .min130{min-width:130px;} .min140{min-width:140px;} .min150{min-width:150px;} .min160{min-width:160px;} .min170{min-width:170px;} .min180{min-width:180px;}
.min190{min-width:190px;} .min200{min-width:200px;} .min210{min-width:210px;} .min220{min-width:220px;} .min230{min-width:230px;} .min240{min-width:240px;} .min250{min-width:250px;} .min260{min-width:260px;} .min270{min-width:270px;}
.min280{min-width:280px;} .min290{min-width:290px;} .min300{min-width:300px;} .min310{min-width:310px;} .min320{min-width:320px;} .min330{min-width:330px;} .min340{min-width:340px;} .min350{min-width:350px;} .min360{min-width:360px;}
.min370{min-width:370px;} .min380{min-width:380px;} .min390{min-width:390px;} .min400{min-width:400px;} .min410{min-width:410px;} .min420{min-width:420px;} .min430{min-width:430px;} .min440{min-width:440px;} .min450{min-width:450px;}
.min460{min-width:460px;} .min470{min-width:470px;} .min480{min-width:480px;} .min490{min-width:490px;} .min500{min-width:500px;} .min510{min-width:510px;} .min520{min-width:520px;} .min530{min-width:530px;} .min540{min-width:540px;}
.min550{min-width:550px;} .min560{min-width:560px;} .min570{min-width:570px;} .min580{min-width:580px;} .min590{min-width:590px;} .min600{min-width:600px;}
.min5{min-width:5px;} .min15{min-width:15px;} .min25{min-width:25px;} .min35{min-width:35px;} .min45{min-width:45px;} .min55{min-width:55px;} .min65{min-width:65px;} .min75{min-width:75px;} .min85{min-width:85px;} .min95{min-width:95px;}
.min105{min-width:105px;} .min115{min-width:115px;} .min125{min-width:125px;} .min135{min-width:135px;} .min145{min-width:145px;} .min155{min-width:155px;} .min165{min-width:165px;} .min175{min-width:175px;} .min185{min-width:185px;}
.min195{min-width:195px;} .min205{min-width:205px;} .min215{min-width:215px;} .min225{min-width:225px;} .min235{min-width:235px;} .min245{min-width:245px;} .min255{min-width:255px;} .min265{min-width:265px;} .min275{min-width:275px;}
.min285{min-width:285px;} .min295{min-width:295px;} .min305{min-width:305px;} .min315{min-width:315px;} .min325{min-width:325px;} .min335{min-width:335px;} .min345{min-width:345px;} .min355{min-width:355px;} .min365{min-width:365px;}
.min375{min-width:375px;} .min385{min-width:385px;} .min395{min-width:395px;} .min405{min-width:405px;} .min415{min-width:415px;} .min425{min-width:425px;} .min435{min-width:435px;} .min445{min-width:445px;} .min455{min-width:455px;}
.min465{min-width:465px;} .min475{min-width:475px;} .min485{min-width:485px;} .min495{min-width:495px;} .min505{min-width:505px;} .min515{min-width:515px;} .min525{min-width:525px;} .min535{min-width:535px;} .min545{min-width:545px;}
.min555{min-width:555px;} .min565{min-width:565px;} .min575{min-width:575px;} .min585{min-width:585px;} .min595{min-width:595px;} 



/*──────────────── myTip ────────────────*/
.myTip{position:relative;cursor:pointer;display:inline-block;vertical-align:middle;font-size:0;}
.myTip:before{
	content:""attr(data-tip)"";
	font-size:12px;
	line-height:1.5em;
	color:#fff;
	display:inline-block;
	width:auto;
	padding:3px 10px 2px 10px;
	position:absolute;
	top:50%;
	right:100%;
	margin-top:-11px;
	margin-right:6px;
	background:var(--tip-bg-color);
	border-radius:4px;
	white-space:pre;
	transition:all .2s ease-in-out;
	opacity:0;
	visibility:hidden;
	z-index:39;	
	}
.myTip:after{
	content:'';
	width:0;
	height:0;
	font-size:12px;
	border-width:3px;
	border-style:solid;
	border-color:transparent;
	border-left-color:var(--tip-bg-color);
	position:absolute;
	top:50%;
	right:100%;
	margin-top:-4px;
	transition:all .2s ease-in-out;
	opacity:0;
	visibility:hidden;
	z-index:39;
	}
.myTip:hover:before, .myTip:hover:after{opacity:1;visibility:visible;}

.myTip.right:before{right:auto;left:100%;margin-left:6px;}
.myTip.right:after{border-color:transparent;border-right-color:var(--tip-bg-color);right:auto;left:100%;}
.myTip.top:before{top:auto;bottom:100%;right:auto;margin-bottom:6px;margin-left:5px;}
.myTip.top:after{border-color:transparent;border-top-color:var(--tip-bg-color);top:auto;bottom:100%;left:0;right:auto;margin-left:12px;}
.myTip.bottom:before{top:100%;right:auto;margin-top:6px;margin-left:5px;}
.myTip.bottom:after{border-color:transparent;border-bottom-color:var(--tip-bg-color);top:100%;left:0;right:auto;margin-top:0;margin-left:12px;}


.myTip.mini:before{font-size:10px;border-radius:3px;padding:3px 6px 2px 6px;}




.myTip.includeOn:before{color:#212121;background:rgba(255,231,71,0.9);font-weight:bold;}
.myTip.includeOn:after{border-left-color:rgba(255,231,71,0.9);}
.myTip.includeOn.top:after{border-color:transparent;border-top-color:rgba(255,231,71,0.9);}
.myTip.includeOn.right:after{border-color:transparent;border-right-color:rgba(255,231,71,0.9);}


/*─ myTag ─*/
.myTag{vertical-align:middle;display:inline-block;padding:0 8px;height:24px;line-height:24px;font-size:11px;font-weight:400;color:#fff;text-align:center;border-radius:2px;background:rgba(71,78,103,0.85);}
.myTag + .myTag{margin-left:5px;}
.myTag.bold, .myTag .bold{font-weight:600;}
.myTag.light, .myTag .light{color:#fff5bd;}

/*─ tagOn ─*/
.tagOn:after, .tagOff:after{content:'';display:inline-block;vertical-align:middle;margin-top:-2px;margin-left:8px;font-size:10px;font-weight:600;color:#fff;padding:0 5px;height:15px;line-height:16px;text-align:center;border-radius:9px;}
.tagOn:after{content:'ON';background:#1bc8a6;}
.tagOff:after{content:'OFF';background:rgba(71,78,103,0.3);}
.tagOff{color:#7a7a7a;}


/* toggle */
.toggle-btn{}
.toggle-btn.on{}
.toggle-container{display:none;}
.toggle-container.open{display:block;}



/*____________________________ input & btn Size ____________________________*/
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], .btn, input[type="submit"].btn{height:32px;font-size:13px;}
.btn, input[type="submit"].btn {padding-left:15px;padding-right:15px;font-weight:700;padding-top:0;padding-bottom:0;}
input[type="text"].mini, input[type="password"].mini, input[type="email"].mini, input[type="tel"].mini, input[type="number"].mini, input[type="url"].mini, .btn.mini, input[type="submit"].btn.mini{height:24px;font-size:11px;}
.btn.mini, input[type="submit"].btn.mini {padding-left:5px;padding-right:5px;}
input[type="text"].small, input[type="password"].small, input[type="email"].small, input[type="tel"].small, input[type="number"].small, input[type="url"].small, .btn.small, input[type="submit"].btn.small{height:28px;font-size:12px;padding:0px 6px;}
.btn.small, input[type="submit"].btn.small {padding-left:10px;padding-right:10px;}
input[type="text"].large, input[type="password"].large, input[type="email"].large, input[type="tel"].large, input[type="number"].large, input[type="url"].large, .btn.large, input[type="submit"].btn.large{height:42px;font-size:15px;font-weight:700;}
.btn.large, input[type="submit"].btn.large {padding-left:19px;padding-right:19px;}
.btn.short, input[type="submit"].btn.short {font-size:11px;padding:0 8px;}
/* select size */
.bootstrap-select:not(.select-img) .dropdown-toggle{height:32px;line-height:32px;padding-left:12px;font-size:13px;}
@media screen and (-webkit-min-device-pixel-ratio:0){.bootstrap-select:not(.select-img) .dropdown-toggle{line-height:33px;}} /* 크롬핵 */
.bootstrap-select.mini .dropdown-toggle{height:25px;line-height:25px;padding-left:6px;font-size:11px;}
@media screen and (-webkit-min-device-pixel-ratio:0){.bootstrap-select.mini .dropdown-toggle{line-height:25px;}} /* 크롬핵 */
.bootstrap-select.small .dropdown-toggle{height:28px;line-height:28px;padding-left:8px;font-size:12px;}
@media screen and (-webkit-min-device-pixel-ratio:0){.bootstrap-select.small .dropdown-toggle{line-height:28px;}} /* 크롬핵 */
.bootstrap-select.large .dropdown-toggle{height:42px;line-height:42px;padding-left:12px;font-size:13px;}
@media screen and (-webkit-min-device-pixel-ratio:0){.bootstrap-select.large .dropdown-toggle{line-height:43px;}} /* 크롬핵 */



/*____________________________ btn ____________________________*/
.btn{vertical-align:middle;display:inline-block;cursor:pointer;text-align:center;font-size:14px;font-weight:700;line-height:1em;padding:0 8px;height:32px;color:#fff;
	background:var(--btnColor);border-radius:2px;transition:all .2s ease-in-out;outline:0;display:inline-flex;align-items:center;justify-content:center;padding-top:1px;box-sizing:border-box;}
.btn:hover{background:var(--btnColor-active);}
.btn2{vertical-align:middle;display:inline-block;cursor:pointer;text-align:center;font-size:13px;font-weight:700;line-height:1.2em;padding:0 8px;height:32px;color:#fff;
	background:#697f8b;border-radius:2px;transition:all .2s ease-in-out;outline:0;display:inline-flex;align-items:center;justify-content:center;padding-top:1px;box-sizing:border-box;}
.btn2:hover{background:#4c606a;}

.btn.height20{height:20px;} .btn.height21{height:21px;} .btn.height22{height:22px;} .btn.height23{height:23px;} .btn.height24{height:24px;} .btn.height25{height:25px;} .btn.height26{height:26px;} .btn.height27{height:27px;}
.btn.height28{height:28px;} .btn.height29{height:29px;} .btn.height30{height:30px;} .btn.height31{height:31px;} .btn.height32{height:32px;} .btn.height33{height:33px;} .btn.height34{height:34px;} .btn.height35{height:35px;}
.btn.height36{height:36px;} .btn.height37{height:37px;} .btn.height38{height:38px;} .btn.height39{height:39px;} .btn.height40{height:40px;} .btn.height41{height:41px;} .btn.height42{height:42px;} .btn.height43{height:43px;}
.btn.height44{height:44px;} .btn.height45{height:45px;} .btn.height46{height:46px;} .btn.height47{height:47px;} .btn.height48{height:48px;} .btn.height49{height:49px;} .btn.height50{height:50px;} .btn.height51{height:51px;}
.btn.height52{height:52px;} .btn.height53{height:53px;} .btn.height54{height:54px;} .btn.height55{height:55px;} .btn.height56{height:56px;} .btn.height57{height:57px;} .btn.height58{height:58px;} .btn.height59{height:59px;}
.btn.height60{height:60px;} .btn.height61{height:61px;} .btn.height62{height:62px;} .btn.height63{height:63px;} .btn.height64{height:64px;} .btn.height65{height:65px;} .btn.height66{height:66px;} .btn.height67{height:67px;}
.btn.height68{height:68px;} .btn.height69{height:69px;} .btn.height70{height:70px;} .btn.height71{height:71px;} .btn.height72{height:72px;} .btn.height73{height:73px;} .btn.height74{height:74px;} .btn.height75{height:75px;}
.btn.height76{height:76px;} .btn.height77{height:77px;} .btn.height78{height:78px;} .btn.height79{height:79px;} .btn.height79{height:80px;}

.btn.round0{border-radius:0;} .btn.round1{border-radius:1px;} .btn.round2{border-radius:2px;} .btn.round3{border-radius:3px;} .btn.round4{border-radius:4px;} .btn.round5{border-radius:5px;}
.btn.round6{border-radius:6px;} .btn.round7{border-radius:7px;} .btn.round8{border-radius:8px;} .btn.round9{border-radius:9px;} .btn.round10{border-radius:10px;} .btn.round11{border-radius:11px;}
.btn.round12{border-radius:12px;} .btn.round13{border-radius:13px;} .btn.round14{border-radius:14px;} .btn.round15{border-radius:15px;} .btn.round16{border-radius:16px;} .btn.round17{border-radius:17px;}
.btn.round18{border-radius:18px;} .btn.round19{border-radius:19px;} .btn.round20{border-radius:20px;} .btn.round21{border-radius:21px;} .btn.round22{border-radius:22px;} .btn.round23{border-radius:23px;}
.btn.round24{border-radius:24px;} .btn.round25{border-radius:25px;} .btn.round26{border-radius:26px;} .btn.round27{border-radius:27px;} .btn.round28{border-radius:28px;} .btn.round29{border-radius:29px;}
.btn.round30{border-radius:30px;} .btn.round31{border-radius:31px;} .btn.round32{border-radius:32px;} .btn.round33{border-radius:33px;} .btn.round34{border-radius:34px;} .btn.round35{border-radius:35px;}
.btn.round36{border-radius:36px;} .btn.round37{border-radius:37px;} .btn.round38{border-radius:38px;} .btn.round39{border-radius:39px;} .btn.round40{border-radius:40px;} .btn.round41{border-radius:41px;}
.btn.round42{border-radius:42px;} .btn.round43{border-radius:43px;} .btn.round44{border-radius:44px;} .btn.round45{border-radius:45px;} .btn.round46{border-radius:46px;} .btn.round47{border-radius:47px;}
.btn.round48{border-radius:48px;} .btn.round49{border-radius:49px;} .btn.round50{border-radius:50%;}

.btn.reverse{background:transparent;color:#383838;border:2px solid rgba(53,57,69,0.9);} .btn.reverse:hover{color:#fff;background:rgba(53,57,69,1);border-color:rgba(53,57,69,1);}
.btn.light{background:#fff;color:#383838;} .btn.light:hover{background:#fff;color:#0d0d0d;}
.btn.light-reverse{background:transparent;color:#fff;border:2px solid rgba(255,255,255,0.85);} .btn.light-reverse:hover{background:#fff;color:rgba(0,0,0,0.9);border:2px solid #fff;}
.btn.black{background:rgba(53,57,69,0.85);color:#fff;} .btn.black:hover{background:rgba(53,57,69,1);}
.btn.gray{background:rgba(53,57,69,0.3);color:#fff;} .btn.gray:hover{background:rgba(53,57,69,0.6);}
.btn.dark-gray{background:rgba(53,57,69,0.6);color:#fff;} .btn.dark-gray:hover{background:rgba(53,57,69,0.8);}
.btn.red{background:#ff4e4e;color:#fff;} .btn.red:hover{background:#e63232;}
.btn.blue{background:#4a86ff;color:#fff;} .btn.blue:hover{background:#1f5fe2;}
.btn.bluelight{background:#14b8d4;color:#fff;} .btn.bluelight:hover{background:#11a7c1;}
.btn.green{background:#1bc8a6;color:#fff;} .btn.green:hover{background:#0cb191;}
.btn.orange{background:#ff9921;color:#fff;} .btn.orange:hover{background:#eb740b;}
.btn.yellow{background:#ffdf31;color:#303030;} .btn.yellow:hover{background:#f7d100;}





/*____________________________ FORM ____________________________*/
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], .btn, textarea{font-family:'NanumSquareRound', 'Nanum Gothic', sans-serif;border-radius:2px;}

input{vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], textarea {
	font-size:12px;
	font-weight:normal;
	padding:0 10px;
	color:#2d2d2d;
	background:#fff;
	border:1px solid rgba(0,0,0,0.2);
	position:relative;
	z-index:3;
	outline:none;
	}
textarea{width:100%;line-height:16px;padding:13px;display:block;overflow-y:auto !important;}
textarea.txtBox{background:#fff;}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="url"]:focus, textarea:focus{border-color:rgba(0,0,0,0.65);box-shadow:0 4px 4px rgba(0,0,0,0.05);}
input[type="url"] {color:#20366d;}

input:-moz-placeholder, textarea:-moz-placeholder {color:#999;font-weight:normal;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#999;font-weight:normal;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#999;font-weight:normal;}
input::-moz-focus-inner,
button::-moz-focus-inner{border:0;padding:0;}

input[disabled] + span{cursor:not-allowed;}


input.datepicker, input.phone, input.price{font-family:'Montserrat', sans-serif;font-family:'NanumSquareRound', 'Nanum Gothic', sans-serif;font-size:14px;}
input.phone, input.price{font-weight:400;}


textarea{min-height:120px;}
textarea.mini{height:54px;min-height:54px;}