@font-face {
  font-family: 'intaefont';
  src:  url('fonts/intaefont.eot?yuqqb0');
  src:  url('fonts/intaefont.eot?yuqqb0#iefix') format('embedded-opentype'),
    url('fonts/intaefont.ttf?yuqqb0') format('truetype'),
    url('fonts/intaefont.woff?yuqqb0') format('woff'),
    url('fonts/intaefont.svg?yuqqb0#intaefont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="intaefont-"], [class*=" intaefont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'intaefont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intaefont-icon0:before {
  content: "\e900";
}
.intaefont-icon1:before {
  content: "\e901";
}
.intaefont-icon2:before {
  content: "\e902";
}
.intaefont-icon3:before {
  content: "\e903";
}
.intaefont-icon4:before {
  content: "\e904";
}
.intaefont-icon5:before {
  content: "\e905";
}
.intaefont-icon6:before {
  content: "\e906";
}
.intaefont-icon7:before {
  content: "\e907";
}
.intaefont-icon8:before {
  content: "\e908";
}
.intaefont-icon9:before {
  content: "\e909";
}
.intaefont-icon10:before {
  content: "\e90a";
}
.intaefont-icon11:before {
  content: "\e90b";
}
.intaefont-icon12:before {
  content: "\e90c";
}
.intaefont-icon13:before {
  content: "\e90d";
}
.intaefont-icon14:before {
  content: "\e90e";
}
.intaefont-icon15:before {
  content: "\e90f";
}
.intaefont-icon16:before {
  content: "\e910";
}
.intaefont-icon17:before {
  content: "\e911";
}
.intaefont-icon18:before {
  content: "\e912";
}
.intaefont-icon19:before {
  content: "\e913";
}
.intaefont-icon20:before {
  content: "\e914";
}
.intaefont-icon21:before {
  content: "\e915";
}
.intaefont-icon22:before {
  content: "\e916";
}
.intaefont-icon23:before {
  content: "\e917";
}
.intaefont-icon24:before {
  content: "\e918";
}
.intaefont-icon25:before {
  content: "\e919";
}
.intaefont-icon26:before {
  content: "\e91a";
}
.intaefont-icon27:before {
  content: "\e91b";
}
.intaefont-icon28:before {
  content: "\e91c";
}
.intaefont-icon29:before {
  content: "\e91d";
}
.intaefont-icon30:before {
  content: "\e91e";
}
.intaefont-icon31:before {
  content: "\e91f";
}
.intaefont-icon32:before {
  content: "\e920";
}
.intaefont-icon33:before {
  content: "\e921";
}
.intaefont-icon34:before {
  content: "\e922";
}
.intaefont-icon35:before {
  content: "\e923";
}
.intaefont-icon36:before {
  content: "\e924";
}
.intaefont-icon37:before {
  content: "\e925";
}
.intaefont-icon38:before {
  content: "\e926";
}
.intaefont-icon39:before {
  content: "\e927";
}
.intaefont-icon40:before {
  content: "\e928";
}
.intaefont-icon41:before {
  content: "\e929";
}
.intaefont-icon42:before {
  content: "\e92a";
}
.intaefont-icon43:before {
  content: "\e92b";
}
.intaefont-icon44:before {
  content: "\e92c";
}
.intaefont-icon45:before {
  content: "\e92d";
}
.intaefont-icon46:before {
  content: "\e92e";
}
.intaefont-icon47:before {
  content: "\e92f";
}
.intaefont-icon48:before {
  content: "\e930";
}
.intaefont-icon49:before {
  content: "\e931";
}
.intaefont-icon50:before {
  content: "\e932";
}
.intaefont-icon51:before {
  content: "\e933";
}
.intaefont-icon52:before {
  content: "\e934";
}
.intaefont-icon53:before {
  content: "\e935";
}
.intaefont-icon54:before {
  content: "\e936";
}
.intaefont-icon55:before {
  content: "\e937";
}
.intaefont-icon56:before {
  content: "\e938";
}
.intaefont-icon57:before {
  content: "\e939";
}
.intaefont-icon58:before {
  content: "\e93a";
}
.intaefont-icon59:before {
  content: "\e93b";
}
.intaefont-icon60:before {
  content: "\e93c";
}
.intaefont-icon61:before {
  content: "\e93d";
}
.intaefont-icon62:before {
  content: "\e93e";
}
.intaefont-icon63:before {
  content: "\e93f";
}
.intaefont-icon64:before {
  content: "\e940";
}
.intaefont-icon65:before {
  content: "\e941";
}
.intaefont-icon66:before {
  content: "\e942";
}
.intaefont-icon67:before {
  content: "\e943";
}
.intaefont-icon68:before {
  content: "\e944";
}
.intaefont-icon69:before {
  content: "\e945";
}
.intaefont-chevron-left:before {
  content: "\e946";
}
.intaefont-chevron-right:before {
  content: "\e947";
}
.intaefont-chevrons-left:before {
  content: "\e948";
}
.intaefont-chevrons-right:before {
  content: "\e949";
}
.intaefont-icon70:before {
  content: "\e94a";
}
.intaefont-icon71:before {
  content: "\e94b";
}
.intaefont-icon72:before {
  content: "\e94c";
}
.intaefont-icon73:before {
  content: "\e94d";
}
.intaefont-icon74:before {
  content: "\e94e";
}
.intaefont-icon75:before {
  content: "\e94f";
}
.intaefont-search:before {
  content: "\e950";
}
.intaefont-zoom-in:before {
  content: "\e992";
}
.intaefont-zoom-out:before {
  content: "\e993";
}
.intaefont-corner-down-right:before {
  content: "\e951";
}
.intaefont-icon76:before {
  content: "\e952";
}
.intaefont-icon77:before {
  content: "\e953";
}
.intaefont-icon78:before {
  content: "\e954";
}
.intaefont-icon79:before {
  content: "\e955";
}
.intaefont-edit:before {
  content: "\e994";
}
.intaefont-icon80:before {
  content: "\e956";
}
.intaefont-icon81:before {
  content: "\e957";
}
.intaefont-edit-3:before {
  content: "\e995";
}
.intaefont-icon82:before {
  content: "\e958";
}
.intaefont-icon83:before {
  content: "\e959";
}
.intaefont-feather:before {
  content: "\e9e1";
}
.intaefont-icon84:before {
  content: "\e95a";
}
.intaefont-icon85:before {
  content: "\e95b";
}
.intaefont-icon86:before {
  content: "\e95c";
}
.intaefont-icon87:before {
  content: "\e95d";
}
.intaefont-icon88:before {
  content: "\e95e";
}
.intaefont-icon89:before {
  content: "\e95f";
}
.intaefont-scissors1:before {
  content: "\e960";
}
.intaefont-scissors11:before {
  content: "\e9e2";
}
.intaefont-icon90:before {
  content: "\e961";
}
.intaefont-icon91:before {
  content: "\e962";
}
.intaefont-icon92:before {
  content: "\e963";
}
.intaefont-icon93:before {
  content: "\e964";
}
.intaefont-icon94:before {
  content: "\e965";
}
.intaefont-icon95:before {
  content: "\e966";
}
.intaefont-download:before {
  content: "\e967";
}
.intaefont-icon96:before {
  content: "\e968";
}
.intaefont-save:before {
  content: "\e9e3";
}
.intaefont-icon97:before {
  content: "\e969";
}
.intaefont-upload:before {
  content: "\e9e4";
}
.intaefont-link:before {
  content: "\e96a";
}
.intaefont-attachment1:before {
  content: "\e96b";
}
.intaefont-icon98:before {
  content: "\e96c";
}
.intaefont-camera:before {
  content: "\e96d";
}
.intaefont-icon99:before {
  content: "\e96e";
}
.intaefont-icon100:before {
  content: "\e96f";
}
.intaefont-icon101:before {
  content: "\e970";
}
.intaefont-icon102:before {
  content: "\e971";
}
.intaefont-icon103:before {
  content: "\e972";
}
.intaefont-icon104:before {
  content: "\e973";
}
.intaefont-icon105:before {
  content: "\e974";
}
.intaefont-icon106:before {
  content: "\e975";
}
.intaefont-icon107:before {
  content: "\e976";
}
.intaefont-icon108:before {
  content: "\e977";
}
.intaefont-icon109:before {
  content: "\e978";
}
.intaefont-icon110:before {
  content: "\e979";
}
.intaefont-icon111:before {
  content: "\e97a";
}
.intaefont-icon112:before {
  content: "\e97b";
}
.intaefont-icon113:before {
  content: "\e97c";
}
.intaefont-icon114:before {
  content: "\e97d";
}
.intaefont-icon115:before {
  content: "\e97e";
}
.intaefont-smartphone:before {
  content: "\e9e5";
}
.intaefont-icon116:before {
  content: "\e97f";
}
.intaefont-icon117:before {
  content: "\e980";
}
.intaefont-icon118:before {
  content: "\e981";
}
.intaefont-icon119:before {
  content: "\e982";
}
.intaefont-icon120:before {
  content: "\e983";
}
.intaefont-icon121:before {
  content: "\e984";
}
.intaefont-icon122:before {
  content: "\e985";
}
.intaefont-icon123:before {
  content: "\e986";
}
.intaefont-icon124:before {
  content: "\e987";
}
.intaefont-icon125:before {
  content: "\e988";
}
.intaefont-printer:before {
  content: "\e989";
}
.intaefont-icon126:before {
  content: "\e98a";
}
.intaefont-icon127:before {
  content: "\e98b";
}
.intaefont-icon128:before {
  content: "\e98c";
}
.intaefont-icon129:before {
  content: "\e98d";
}
.intaefont-icon130:before {
  content: "\e98e";
}
.intaefont-icon131:before {
  content: "\e98f";
}
.intaefont-icon132:before {
  content: "\e990";
}
.intaefont-icon133:before {
  content: "\e991";
}
.intaefont-icon134:before {
  content: "\e996";
}
.intaefont-icon135:before {
  content: "\e997";
}
.intaefont-icon136:before {
  content: "\e998";
}
.intaefont-icon137:before {
  content: "\e999";
}
.intaefont-settings:before {
  content: "\e9e6";
}
.intaefont-icon138:before {
  content: "\e99a";
}
.intaefont-icon139:before {
  content: "\e99b";
}
.intaefont-package:before {
  content: "\e9e7";
}
.intaefont-icon140:before {
  content: "\e99c";
}
.intaefont-icon141:before {
  content: "\e99d";
}
.intaefont-icon142:before {
  content: "\e99e";
}
.intaefont-icon143:before {
  content: "\e99f";
}
.intaefont-file-text:before {
  content: "\e9e8";
}
.intaefont-icon144:before {
  content: "\e9a0";
}
.intaefont-icon145:before {
  content: "\e9a1";
}
.intaefont-icon146:before {
  content: "\e9a2";
}
.intaefont-icon147:before {
  content: "\e9a3";
}
.intaefont-icon148:before {
  content: "\e9a4";
}
.intaefont-icon149:before {
  content: "\e9a5";
}
.intaefont-icon150:before {
  content: "\e9a6";
}
.intaefont-icon151:before {
  content: "\e9a7";
}
.intaefont-icon152:before {
  content: "\e9a8";
}
.intaefont-icon153:before {
  content: "\e9a9";
}
.intaefont-icon154:before {
  content: "\e9aa";
}
.intaefont-icon155:before {
  content: "\e9ab";
}
.intaefont-icon156:before {
  content: "\e9ac";
}
.intaefont-calendar:before {
  content: "\e9e9";
}
.intaefont-book:before {
  content: "\e9ad";
}
.intaefont-mouse-pointer:before {
  content: "\e9ae";
}
.intaefont-italic:before {
  content: "\e9ea";
}
.intaefont-mail:before {
  content: "\e9eb";
}
.intaefont-bell:before {
  content: "\e9af";
}
.intaefont-icon157:before {
  content: "\e9b0";
}
.intaefont-icon158:before {
  content: "\e9b1";
}
.intaefont-icon159:before {
  content: "\e9b2";
}
.intaefont-icon160:before {
  content: "\e9b3";
}
.intaefont-icon161:before {
  content: "\e9b4";
}
.intaefont-icon162:before {
  content: "\e9b5";
}
.intaefont-icon163:before {
  content: "\e9b6";
}
.intaefont-icon164:before {
  content: "\e9b7";
}
.intaefont-icon165:before {
  content: "\e9b8";
}
.intaefont-icon166:before {
  content: "\e9b9";
}
.intaefont-icon167:before {
  content: "\e9ba";
}
.intaefont-icon168:before {
  content: "\e9bb";
}
.intaefont-icon169:before {
  content: "\e9bc";
}
.intaefont-icon170:before {
  content: "\e9bd";
}
.intaefont-icon171:before {
  content: "\e9be";
}
.intaefont-pin1:before {
  content: "\e9bf";
}
.intaefont-icon172:before {
  content: "\e9c0";
}
.intaefont-icon173:before {
  content: "\e9c1";
}
.intaefont-layout:before {
  content: "\e9ec";
}
.intaefont-more-horizontal:before {
  content: "\e9ed";
}
.intaefont-more-vertical:before {
  content: "\e9ee";
}
.intaefont-icon174:before {
  content: "\e9c2";
}
.intaefont-icon175:before {
  content: "\e9c3";
}
.intaefont-icon176:before {
  content: "\e9c4";
}
.intaefont-icon177:before {
  content: "\e9c5";
}
.intaefont-icon178:before {
  content: "\e9c6";
}
.intaefont-icon179:before {
  content: "\e9c7";
}
.intaefont-icon180:before {
  content: "\e9c8";
}
.intaefont-sliders:before {
  content: "\e9c9";
}
.intaefont-icon181:before {
  content: "\e9ca";
}
.intaefont-icon182:before {
  content: "\e9cb";
}
.intaefont-icon183:before {
  content: "\e9cc";
}
.intaefont-icon184:before {
  content: "\e9cd";
}
.intaefont-award:before {
  content: "\e9ce";
}
.intaefont-icon185:before {
  content: "\e9cf";
}
.intaefont-icon186:before {
  content: "\e9d0";
}
.intaefont-icon187:before {
  content: "\e9d1";
}
.intaefont-icon188:before {
  content: "\e9d2";
}
.intaefont-icon189:before {
  content: "\e9d3";
}
.intaefont-icon190:before {
  content: "\e9d4";
}
.intaefont-power:before {
  content: "\e9d5";
}
.intaefont-icon191:before {
  content: "\e9d6";
}
.intaefont-info1:before {
  content: "\e9d7";
}
.intaefont-icon192:before {
  content: "\e9d8";
}
.intaefont-icon193:before {
  content: "\e9d9";
}
.intaefont-alert-octagon:before {
  content: "\e9ef";
}
.intaefont-icon194:before {
  content: "\e9da";
}
.intaefont-icon195:before {
  content: "\e9db";
}
.intaefont-icon196:before {
  content: "\e9dc";
}
.intaefont-icon197:before {
  content: "\e9dd";
}
.intaefont-dollar-sign:before {
  content: "\e9f0";
}
.intaefont-shopping-cart:before {
  content: "\e9f1";
}
.intaefont-shopping-bag:before {
  content: "\e9f2";
}
.intaefont-check-circle:before {
  content: "\e9f3";
}
.intaefont-check-square:before {
  content: "\e9f4";
}
.intaefont-icon198:before {
  content: "\e9de";
}
.intaefont-icon199:before {
  content: "\e9df";
}
.intaefont-icon200:before {
  content: "\e9e0";
}
.intaefont-link-2:before {
  content: "\e9f5";
}
.intaefont-thumbs-up:before {
  content: "\e9f6";
}
.intaefont-thumbs-down:before {
  content: "\e9f7";
}
.intaefont-trending-up:before {
  content: "\e9f8";
}
.intaefont-bar-chart-2:before {
  content: "\e9f9";
}
.intaefont-filter:before {
  content: "\e9fa";
}
.intaefont-filter1:before {
  content: "\e9fb";
}